/* General Styles */
body {
    background-image: url("img/table-background.png");
    font-size: 1.2rem;
}

/* Utility */
.satisfy {
    font-family: 'Satisfy', cursive;
}

.header {
    font-family: 'Satisfy', cursive;
    font-size: 4rem;
    text-align: center;
}
.divider {
    border-style: solid;
    border-color: black;
    border-width: 0px 0px 1px 0px;
    font-weight: bold;
    margin-top: 1rem;
}

.button {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    /* font-weight: bold; */
    padding: 0rem 0.3rem;
}

/* General Menu Styles */
#menu {
    background-image: url("img/black-leather-pattern.png");
    display: inline-block;
    position: relative;
    border: 1px solid rgb(20, 20, 20);
    box-shadow: -4px 4px 10px black;
    width: 100%;
}
.menu-body {
    background-image: url("raw/parchment-pattern.jpg");    
    margin: 1.5%;
    padding: 2%; /* Magical ghost padding? Don't need to cut down width and height to match. */
    width: 97%;
    height: 97%;
    border: 1px solid beige;
}
.menu-corner {
    position: absolute; 
    width: 7%;
}
#menu p, #menu h2, #menu .menu-body img {
    opacity: 0.9;
}

/* Menu-item styles. */
.menu-item img {
    width: 25%;
    float: left;
}
.menu-item p {
    margin-bottom: 0.2rem;
}

/* Order detial styles */
#details {
    background-image: url("img/paper-pattern.png");
    box-shadow: -3px 3px 10px black;
    min-height: 700px;
}
.details-top {
    width: 100%;
}
.details-body {
    padding: 2%;
}

/* Detail items */
.details-items {
    border-collapse: separate;
    border-spacing: 1rem 0rem;
}
.details-items .button {
    margin-right: 1rem;
}

/* Detail total */
.details-total {
    width: 200px;
}
.details-total td {
    width: 50%;
}
.details-total td:nth-of-type(2) {
    text-align: right;
}
.details-total tr:nth-of-type(3) {
    border-style: solid;
    border-color: black;
    border-width: 1px 0px 0px 0px;
}