body {
    background-image: url("img/table-background.png");
}


#menu {
    background-image: url("img/black-leather-pattern.png");
    display: inline-block;
    position: relative;
    border: 1px solid rgb(20, 20, 20);
    box-shadow: -4px 4px 10px black;
    width: 100%;
}
#menu .menu-body {
    background-image: url("raw/parchment-pattern.jpg");    
    margin: 1.5%;
    padding: 2%; /* Magical ghost padding? Don't need to cut down width and height to match. */
    width: 97%;
    height: 97%;
    border: 1px solid beige;
}
#menu .menu-corner {
    position: absolute; 
    width: 7%;
}
#menu .menu-header {
    font-family: 'Satisfy', cursive;
    font-size: 4rem;
    text-align: center;
}
#menu p, #menu h2 {
    opacity: 0.9;
}